body {
    color: blue;
}

@media print {
    .header {
        background-color: steelblue;
        color: rgb(255, 255, 255);
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

.content{
    padding: 0;
    margin:0 auto;
}

.print-btn{
    display:none;
}
